{% extends "base.html" %}
{% block title %}Връзки: визуален регистър · Тендер{% endblock %}
{% block head %}
<script src="/static/vendor/cytoscape.min.js?v={{ v }}" defer></script>
<script src="/static/vazby.js?v={{ v }}" defer></script>
{% endblock %}
{% block main %}
<div class="crumbs"><a href="/lab/links">Лаборатория</a> / визуален регистър</div>
<h1 class="h1s">{{ (info.name or node) | tc }}</h1>
{% include "_vazby.html" %}
{% endblock %}
{% block scripts %}
<script>addEventListener('load', () => vazby({{ node | tojson }}));</script>
{% endblock %}
